@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: auto 0;
    margin: auto 0;

    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.dark {
    background-color: #1f2024;
    color: white;
}